<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyHttp" version="1.6.56.0" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net40" />
  <package id="TryParsers" version="1.2.0" targetFramework="net40" />
  <package id="YouTrackSharp" version="2.0.15.0" targetFramework="net40" />
</packages>